.body h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

.body h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.body h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.body p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}