<h1 class="Titulo">Finalizar compra</h1>

<div class="Cont-rec">
    <p>Recuerde que las entregas en la ciudad de Bucaramanga son de 1 a 2 días hábiles y 3 a 7 días hábiles a nivel nacional</p>
</div>
<form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
<div class="Cont-Principal" *ngIf="formulario">

        <div formGroupName="correo" class="Cont-Correo">
            <h2>INGRESA TUS DATOS</h2>
            <label for="correo">Dirección de correo electrónico:</label>
            <input class="input-large" id="correo" type="email" formControlName="correo">

            <div class="Ajuste-exclusivos"> <!-- Para pegar -->
                <input id="correos_exclusivos" type="checkbox" formControlName="correos_exclusivos">
                <label class="label-correos" for="correos_exclusivos">Me gustaría recibir correos electrónicos exclusivos con descuentos e información de productos (opcional)</label>
            </div> <!-- Para pegar  -->
        </div>
        <br>

        <div formGroupName="datos" class="Cont-datos">
          <label for="nombre">Nombre:</label>
          <br> 
          <input id="nombre" type="text" formControlName="nombre">
          <br>

          <label for="apellido">Apellido:</label>
          <br> 
          <input id="apellido" type="text" formControlName="apellido">
          <br>
      
          <label for="pais">País:</label>
          <br> 
          <input id="pais" type="text" formControlName="pais">
          <br>
      
          <label for="departamento">Departamento:</label>
          <br> 
          <input id="departamento" type="text" formControlName="departamento">
          <br>
      
          <label for="ciudad">Ciudad:</label>
          <br> 
          <input id="ciudad" type="text" formControlName="ciudad">
          <br>
          <label for="direccion">Dirección:</label>
          <br> 
          <input id="direccion" type="text" formControlName="direccion">
        </div>
        <br>
        
        <div formGroupName="costo_envio">
          <p>Precio fijo: $15.000</p>
          <p>Por compras superiores a $1.000.000 tienes ENVÍO GRATIS</p>
        </div>
        <br>
        
        <div formGroupName="facturacion">
          <label for="cedula">Cédula:</label>
          <br> 
          <input id="cedula" type="text" formControlName="cedula">
          <br>
          <label for="telefono">Teléfono:</label>
          <br> 
          <input id="telefono" type="text" formControlName="telefono">
        </div>
        <br>
        
</div>

<div>
    <button type="submit">Enviar</button>
</div>
</form>