<body> <!-- El Body es provisional para ver ejecucion en tiempo real -->

    <h1 class="titulo">Finalizar compra</h1>

    <div class="contPrincipal">
        <div class="contIzq">
            <div class="contIdentificacion">
                <h3>IDENTIFICACIÓN</h3>
            </div>
            <div class="contEnvio">
                <h3>ENVÍO</h3>
            </div> 
            <!--Contenedor de Pago-->
            <div class="contPago">
            <h3>PAGO</h3>
            </div>
        </div> 


        <div class="contDer">
            <div class="contResumenPedido">
                <div class="titResumen">
                    <h3>RESUMEN DEL PEDIDO</h3>
                </div> 
                <div>
                    <button routerLink="/carrito" class="botonEditarCarrito">Editar Carrito</button>
                </div> 

            </div>
            
        </div>



        
       


    </div>


</body>



