@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Parámetros texto */

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h3{
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold !important;
    margin: 0px;
}

.resumen{
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold !important;
    margin-left: 5%;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}
.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #16697A;
    font-weight: bold;
}

u{
    color: #16697A;
}

/* Fin parámetros texto */


/* CONTENEDORES */

.contPrincipal{
    display: flex;
    margin-top: 2%;
}

.contIzq{
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    width: 60%;
    display: inline-block;
    vertical-align:top;
    margin-left: 1%;
    padding: 5px;
    height: auto;
    
}


.contDer{
    border-color: black;
    border-radius: 15px;
    border-width: 5px;
    border-style: solid;
    width: 40%;
    display: inline-block;
    vertical-align:top;
    margin-left: 1%;
    padding: 5px;
    height: auto;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .contenedor-izquierdo, .contenedor-derecho {
    width: 48%;
    box-sizing: border-box;
    background-color: white;
    border: 2px solid #ccc;
    margin: 1%;
    height: 120px;
    border-radius: 8px;
    padding: 5px;
  }
  
  .contenedor-inferior {
    width: 100%;
    box-sizing: border-box;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    margin: 0;
    height: 120px;
    border-radius: 8px;
    padding: 5px;
  }
  
.contIdentificacion{
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 2px;
    height: 120px;
    display: inline-block;
    width: 47%;
    padding-bottom: 3%;
}


.contEnvio{
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 2px;
    height: 120px;
    display: inline-block;
    width: 47%;
    padding-bottom: 3%;
}

.contResumenPedido{

    display: flex;
    margin: 0;
    vertical-align:top;

}

.Total{

    display: flex;
    margin: 0;
    vertical-align:top;
    background-color:#ccc;
    border-radius: 15px;
    padding: 5px;

}

.contPago{
    margin-top: 1%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto;
    width: 100%;
    
}

/* Edicion de Texto y Titulos*/ 

.titResumen{
    width: 77%;
    display: inline-block;
}

.tablaResumen{
    width: 100%;
}

.botonEditar{
    display: inline-block;
    background-color: #ffa62b;
    border: 1px black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.botonComprar{
    display: inline-block;
    background-color:#16697A;
    border: 1px black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 35px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}


.contBoton{
    width: 25%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}



.contBotonComprar{
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    height: auto;
}

.contTitulo{
    width: 80%;
    margin-top: 1%;
}

.contSubtotal{
    width: 55%;
    margin-top: 1%;
}

.precioSubtotal{
    width: 45%;
    margin-top: 1%;
}

.Envio{
    width: 80%;
    margin-top: 0;
}

.Productos {
    width: 100%;
    border-collapse: collapse;
    color: black;
}







  