@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Parámetros texto */

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}


h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h3{
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold !important;
    margin: 0px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.titulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: #16697A;
    font-weight: bold;
}

/* Fin parámetros texto */


/* CONTENEDORES */

.contPrincipal{
    display: flex;
    margin-top: 2%;
}



.contIzq{
    white-space: nowrap;
    width: 60%;
    
}

.contDer{
    white-space: nowrap;
    width: 40%;
    margin-left: 2%;
}
.contIdentificacion{
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 2px;
    height: 120px;
    display: inline-block;
    width: 47%;
}

.contEnvio{
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 120px;
    display: inline-block;
    width: 47%;
    margin-left: 1%;
}

.contResumenPedido{
    white-space: nowrap;
    background-color: #f2f2f2;
    padding: 10px;
    border: 4px solid black;
    border-radius: 15px;
    display: flex;
    height: auto;
}

.contPago{
    margin-top: 1%;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto;
    width: 99%;
    
}

.titResumen{
    width: 77%;
    display: inline-block;
}

.tablaResumen{
    width: 99%;
}

.botonEditarCarrito{
    display: inline-block;
    background-color: #ffa62b;
    border: 1px black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    height: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}




